* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 100vh;
    overflow: hidden;
    /* Elements that fall out of the frame would be removed */

    background: url('./assets/black-n-white-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.banner .product {
    /* background-color: red; */
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* To ensure it is not overlapped by another element */

    transition: 0;
    /* This attribute is used to specify the time to create the effect when the user hovers */

    --left: -60px;
    display: flex;
}

/* Focus of this Project / Article */
.banner .product .soda {
    background:
        var(--url) var(--left) 0,
        url('./assets/soda-can-mockup.png');
    background-size: auto 100%;
    width: 280px;
    /* height: 500px; */
    aspect-ratio: 2 / 4;

    background-blend-mode: multiply;
    mask-image: url('./assets/soda-can-mockup.png');
    mask-size: auto 100%;
    transition: 1.0s;

    /* To overlapp both Images over each other */
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
}

.banner .product:hover {
    --left: -1000px;
    transform: translateX(-50%) translateY(-50px);
    transition: 0.75s;
    -moz-transition: transform 0.75s;
    -webkit-transition: transform 0.75s;
}

.banner .rock {
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
}

.banner .rock img {
    position: absolute;
    transition: 0.7s;
}

.banner .rock img:nth-child(1){
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.banner:has(.product:hover) .rock img:nth-child(1) {
    transform: translateX(-50%) translateY(50px);
}

.banner .rock img:nth-child(2){
    height: 50%;
    left: 0;
    bottom: 0;
}

.banner:has(.product:hover) .rock img:nth-child(2) {
    transform: translateX(-25%) translateY(0px);
}

.banner .rock img:nth-child(3){
    height: 100%;
    right: 0;
    bottom: -100px;
    rotate: -25deg;
}

.banner:has(.product:hover) .rock img:nth-child(3) {
    transform: translateX(30%) translateY(0px);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}

.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}